<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://it.byu.edu">BYU OIT AV</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
      {{#if env.ALGOLIA_API_KEY}}
      <div class="navbar-item hide-for-print">
        <input id="search-input" type="text" placeholder="Search docs">
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Projects</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>AV Control API</strong></div>
            <a class="navbar-item" href="https://github.com/byuoitav/av-control-api">Repository</a>
            <a class="navbar-item" href="https://github.com/byuoitav/av-control-api/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://gitlab.com/antora/antora/blob/master/contributing.adoc">Contributing</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Tools</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://smee.avs.byu.edu">BYU Monitoring</a>
          </div>
        </div>
        <a class="navbar-item" href="https://github.com/byuoitav">
          <span class="icon">
            <a title="GitHub [MIT (http://opensource.org/licenses/mit-license.php)]" href="https://github.com/byuoitav"><img width="256" alt="Octicons-mark-github" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/512px-Octicons-mark-github.svg.png"></a>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
